.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.surveys-holder {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
